source /boot/grub/anemone-build-stamp.cfg
source /boot/grub/config.cfg

# Anemone OS — GRUB-meny
# Inga Debian-element. Inga tekniska termer i menyval.
# Systemet ska viska, inte skrika.

menuentry "Utforska utan att lämna några spår" --hotkey=u {
  linux   @KERNEL_LIVE@ @APPEND_LIVE@
  initrd  @INITRD_LIVE@
}

menuentry "Gör den till din — installera Anemone OS" --hotkey=i {
  linux   @KERNEL_LIVE@ @APPEND_LIVE@
  initrd  @INITRD_LIVE@
}
