source /boot/grub/anemone-build-stamp.cfg
source /boot/grub/config.cfg

menuentry "Utforska Anemone OS" --hotkey=u {
  linux  @KERNEL_LIVE@ @APPEND_LIVE@
  initrd @INITRD_LIVE@
}

menuentry "Stäng av" --hotkey=s {
  halt
}

submenu "Avancerat..." --hotkey=a {

  source /boot/grub/theme.cfg

  if @ENABLE_MEMTEST@; then
    source /boot/grub/memtest.cfg
  fi

  if [ "${grub_platform}" = "efi" ]; then
    menuentry "UEFI-inställningar" --hotkey=f {
      fwsetup
    }
  fi

  if @ENABLE_VERIFY_CHECKSUMS@; then
    menuentry "Verifiera skivans integritet" --hotkey=v {
      linux  @KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
      initrd @INITRD_LIVE@
    }
  fi
}
