source /boot/grub/anemone-build-stamp.cfg
source /boot/grub/config.cfg

# Ladda Quattrocento innan temat aktiveras
insmod font
loadfont /boot/grub/themes/anemone/Quattrocento-Regular-22.pf2
loadfont /boot/grub/themes/anemone/Quattrocento-Regular-22.pf2

# Aktivera tema
if [ -e /boot/grub/themes/anemone/theme.txt ]; then
  set theme=/boot/grub/themes/anemone/theme.txt
elif [ -e /boot/grub/splash.png ]; then
  set theme=/boot/grub/live-theme/theme.txt
else
  set menu_color_normal=white/black
  set menu_color_highlight=light-green/black
fi

# Anemone OS — GRUB-meny
# Inga Debian-element. Inga tekniska termer.
# Systemet ska viska, inte skrika.

menuentry "Utforska utan att lämna några spår" --hotkey=u {
  linux   @KERNEL_LIVE@ @APPEND_LIVE@
  initrd  @INITRD_LIVE@
}

menuentry "Gör den till din — installera Anemone OS" --hotkey=i {
  linux   @KERNEL_LIVE@ @APPEND_LIVE@
  initrd  @INITRD_LIVE@
}
