set color_normal=light-gray/black
set color_highlight=white/dark-gray

if [ -e /boot/grub/themes/anemone/theme.txt ]; then
    set theme=/boot/grub/themes/anemone/theme.txt
elif [ -e /boot/grub/splash.png ]; then
    # Retain live-build's generated theme as a fallback.
    set theme=/boot/grub/live-theme/theme.txt
else
    set menu_color_normal=cyan/blue
    set menu_color_highlight=white/blue
fi
